/* Main navigation */
.main-navigation {
	background-color: rgba($primary-color, .8);
	ul {
		li {
			&.active {
				a {
					border-bottom: solid 3px $white;
				}
			}
			a {
				font-size: 13px;
				text-decoration: none;
				color: $white;
				text-transform: uppercase;
				outline: none;
			}
		}
	}
}

h1 {
	color: $primary-color;
	span {
		&.blue {
			color: $primary-color;
		}
		&.light-blue {
			color: $secondary-color;
		}
	}
}


.fixed-wrapper{
    position: fixed;
    top: 0;
}