.preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: $primary-color;
  z-index: 20000;
/*   -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; */
  text-align: center;
  .loading {
    //display: block;
    //margin: 30px auto;
      width: 100%;
      height: 50px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    .spinner {
      width: 24px;
      margin: 0 auto;
      @include rhythm(0, 0, 0, 1);
    }
    p {
      @include rhythm(0, .3, .3, 0);
      font: arial;
      text-transform: uppercase;
      @include adjust-font-size-to(12px, 1);
      color: $white;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}


#progress-bar, #info {
	height: 3px;
	width: 0;
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 20000;
	background-color: red;
}

/* Main navigation */
.main-navigation {
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 0;
	left: 0;
	@include rhythm(0, 1.5, 1.5, 0);
	ul {
		clear: left;
		float: left;
		position: relative;
		left: 50%;
		text-align:center;
		li {
			display:block;
			float: left;
			list-style: none;
			position:relative;
			right:50%;
			margin: 0 1em;
			a {

			}
		}
	}
}

.loyalty-logo {
	@include rhythm(0, 0, 0, 2);
	width: 250px;
}

/* Defining each section background and styles */

#fullpage {
	background: url(../../images/background-sky-clouds.jpg) no-repeat 0 0;
	background-size: cover;
	overflow: hidden;
	//@extend %bdr;
	.section {
		overflow: hidden;
		//@extend %bdr;
		.section-inner {
			//@extend %bdr;
			margin: 0 auto;
			@include clearfix;
			z-index: 2000;
			position: relative;
			//max-width: $max-width;
			//padding: 2em;
		}
	}
}

.col50-50 {
	//@extend %bdr;
	@include span (6 of 12);
	padding: 0 2em;
	@include breakpoint($extralarge){
		padding: 0;	
	}
}

#section1 {
	//background: url(../../images/character-001.png) no-repeat 0 0;
	//background-size: contain;
}

.slide {
	position: relative !important;
	overflow: hidden;
}

.characters {
	width: $max-width;
	//@extend %bdr;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -512px;
	img {
		position: absolute;
	}
	&.character-001 {

		img {
			top: 0;
			right: 70px;
			width: 390px;
		}
		.body {

		}
		.head {
			top: 260px;
		}
	}
	&.character-002 {
		left: 37%;
		img {
			position: absolute;
			&.head {
				z-index: 2;
				top: 290px;
				left: 390px;
			}
			&.tie {
				z-index: 2;
				top: 538px;
				left: 420px;
			}
			&.body {
				top: 290px;
			}
		}
	}
}


#section2 {
	overflow: visible !important;
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}


#section3 {
	overflow: visible !important;
	.plank-people {
		position: absolute;
		top: 150px;
		left: 0;
		z-index: -1;
		max-width: 90%;
	}
	h1 {
		//padding-top: 270px;
	}
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}

#section4 {
	overflow: visible !important;
	.mag-man-container {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index:0;
		width: 100%;
		max-width: 100%;
		img {
			position: absolute;
		}
		.mag-man-head {
			bottom: 354px;
			right: 220px;
			z-index: 3;
		}
		.mag-man-body {
			bottom: 120px;
			right: 260px;
			z-index: 0;
		}
		.football {
			top: -170px;
			right: 570px;
			z-index: 1;
		}
		.mag-man-ground {
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			max-width: 100%;
		}
	}
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}

#section5 {
	background: url(../../images/radiance-background.png) no-repeat center center;
	background-size: cover;
	overflow: visible !important;
	.lamp-genie {
		position: absolute;
		bottom: 0;
		right: -80px;
		z-index:0;
		max-width: 60%;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}

#section6 {
	overflow: visible !important;
	.jackpot {
		position: absolute;
		top: 0;
		left: 0;
		z-index:0;
		width: 100%;
		max-width: 100%;
		//@extend %bdr;
		position: absolute;
		top: 0;
		left: 0;
		img {
			position: absolute;
		}
		.body {
			@include breakpoint($medium){
				top: 180px;
				left: -150px;
				width: 1100px;
			}
		}
		.cherry {
			z-index: 1;
			width: 50px;
			&.one {
			  top: 400px;
			  left: 345px;
			  &.blur {
					top: 380px;
				}
			}
			&.two {
			  top: 400px;
			  left: 445px;
			  &.blur {
					top: 380px;
				}
			}
			&.three {
			  top: 400px;
			  left: 548px;
			  &.blur {
					top: 400px;
				}
			}
		}
		.head {
		  top: 260px;
		  left: 535px;
		  width: 220px;
			z-index: 2;
		}
	}
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}

#section7 {
	overflow: visible !important;
	.crane {
		overflow: visible !important;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index:0;
		width: 100%;
		max-width: 100%;
		@extend %bdr;
		background: url(../../images/grass.png) repeat-x right bottom; 
		img {
			position: absolute;
		}
		.head {
			top: 177px;
			right: 429px;
			z-index: 2;
		}
		.body {
			top: 150px;
			right: 250px;
			z-index: 1;
		}
	}
	.fp-slides {
		overflow: visible !important;
		.fp-slidesContainer {
			overflow: visible !important;
			.fp-table {
				overflow: visible !important;
				&.active {

				}
			}
		}
	}
}




/* Animation */
#section1-image {
	position: absolute;
  //left: 0px;
  //bottom: -300px;
  //@include transform(translate3d(600px, -300px, 0px));
	//@include transition(all 0.8s ease-in-out);
	//@include transform(translate3d(0px, -300px, 0px));
	&.noneactive {
		//@include transform(translate3d(0px, 0px, 0px));
	}
	&.active {
		//bottom: 0px;
		//@include transform(translate3d(0px, 0px, 0px));
	}
}

#section2-image {
	position: absolute;
  //left: 0px;
  //bottom: -300px;
  //@include transform(translate3d(0px, 300px, 0px));
	//@include transition(all 0.8s ease-in-out);
	&.active {
		//bottom: 0px;
		//@include transform(translate3d(0px, 0px, 0px));
	}
}

.timeline {
	//@extend %bdr;
	overflow: auto !important;
	//@extend %bdr;
	-webkit-overflow-scrolling: touch;
	.timeline_inner {
		width: 6000px;
		div {
			float: left;
			display: block;
			width: 300px;
			img {
				width: 100%;
			}
		}
	}
	img {
		display: inline;
		width: 338px;
	}
}


/*Birds*/
.birds, .clouds {
	position: absolute;
	z-index: 0;
}

#cloud-000 {
	top: 240px;
}

#cloud-001 {
	top: 800px;
}

#cloud-002 {
	top: 2200px;
}

#cloud-003 {
	top: 2858px;
}

.cloud-004 {
	top: 1680px;
	z-index: 1000;
}

#big-seagull {

}

#small-seagull {

}